body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}

.jumbotron {
  align-content: center;
}

questionDiv {
  font-size: large;
}
.btn {
  background-color: rgb(0, 162, 255);
}

.start-btn {
  background-color: rgb(39, 177, 158);
  align-content: center;
}

#timer {
  background-color: burlywood;
  text-align: center;
}
